{% extends "layout.html" %}
{% block content %}
    <div class="article-container">
        <div class="article-bg" style="background-image: url('static/img/content/bug.jpg');">
            <div class="over-article">
                <h1 class="effect-title text-center">Bug Report</h1>
                <p class="effect-story text-center">Try checking Wowhead for any skill, quest, item, or NPC involved in the problem, and check the top-rated comments. You may find helpful instructions from other players about the issue, along with potential solutions/workarounds to known issues.</p>
            </div>
        </div>
        <div class="article-content">
          {% if session['email'] %}
            <form class="bug-report" action="" method="POST">
                {{ form.hidden_tag() }}
                {{ form.kindselect() }}
                {{ form.detail() }}
                {{ form.submit() }}
            </form>
          {% endif %}
            <table class="customers margin-mid text-center">
                <tr>
                  <th>kind</th>
                  <th>detail</th>
                  <th>user</th>
                  <th>date</th>
                </tr>
                {% for bug in bugs %}
                  <tr>
                    <td>{{ bug.kind }}</td>
                    <td>{{ bug.detail }}</td>
                    <td>{{ bug.user }}</td>
                    <td>{{ bug.date }}</td>
                  </tr>
                {% endfor %}
              </table>
        </div>
    </div>
{% endblock content %}