{% extends "layout.html" %}
{% block content %}
<title>Roshan - Access Denied</title>
    <div class="container">
        <div class="frame">
            <a class="frame_title">Change</a>
            <a class="detail">رمز عبور جدید خود را وارد کنید</a>
            <div class="login">
                <form action="" method="post">
                  {{ form.hidden_tag() }}
                  {{ form.newpassword() }}
                  {{ form.renewpassword() }}
                  {{ form.changepassword() }}
                </form>
                {% if msg %}
                   <div class="errormsg"><a>{{ msg }}</a></div>
                {% endif %}
             </div>
          </div>
    </div>
{% endblock content %}