{% extends "layout.html" %} {% block content %}
<div class="home-container">
  {% for row in cover %}
    {% if cover[row]['type'] == "cover" %}
      <div class="video_container">
        <video autoplay muted loop>
          <source src="static/bg/{{ cover[row]['image'] }}.mp4" type="video/mp4" />
        </video>
        <div class="over_video">
          <div class="over_video_title effect-title text-center">
            <h1>{{ cover[row]['title'] }}</h1>
          </div>
          <div class="over_video_story effect-story text-center">
            <p>
              {{ cover[row]['article'] }}
            </p>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
  <div class="item-grid">
    {% for row in articles %}
      {% if articles[row]['exclusive'] == 0 %}
        {% if loop.depth <= 3 %}
          <div class="itemnews r-border">
            <div class="item-image ">
              <img src="/static/img/content/{{ articles[row]['image'] }}.jpg" alt="" />
            </div>
            <div class="item-text">
              <div class="item-text-wrapper">
                <p class="item-text-dek">{{ articles[row]['newsdate'] }}</p>
                <h2 class="item-text-title">{{ articles[row]['title'] }}</h2>
              </div>
            </div>
            <a class="item-link" href="/blogpost/{{ articles[row]['link'] }}"></a>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

  {% for row in homewidth %}
    <div class="news" style="background-image: url('/static/img/{{homewidth[row]['image']}}.jpg');">
      <div class="news-container">
        <div class="news-texts">
          <h2>{{ homewidth[row]['title'] }}</h2>
          <p>{{ homewidth[row]['detail'] }}</p>
        </div>
        {{ homewidth[row]['tools'] | safe }}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}
