{% extends "layout.html" %}
{% block content %}
<div class="LRBG" style="background-image: url('static/img/content/login.jpeg');">
   <div class="overbg">
      <div class="frame">
         <p class="frame_title">LOG IN</p>
         <form action="" method="POST">
            {{ form.hidden_tag() }}
            {{ form.email() }}
            {{ form.password() }}
            <div class="captchacodeframe">
               {{ form.code() }}
               <img style="filter: invert(1);" src="/static/captcha/{{session.registerip}}.png">
               {{ form.reloadcode() }}
            </div>
            {{ form.login() }}
         </form>
         <a class="link" href="/recovery">Forgot your account password?</a>
         <a class="link" href="/register">Create account</a>
         {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
               {% for category, message in messages %}
                  <div class="{{ category }}">
                     {{ message }}
                  </div>
               {% endfor %}
            {% endif %}
         {% endwith %}
      </div>
   </div>
</div>

{% endblock content %}