{% extends "layout.html" %}
{% block content %}
  <div class="articlecontainer">
    <div class="articlebg" style="background-image: url('static/img/realm.jpg');">
      <div class="overarticle text-center">
        <h1>Realm Status</h1>
        <p>This page lists all available World of Warcraft realms and has information on whether or not a realm is up or down. You can find more information about realm status and scheduled maintenances in the Service Status Forum. If your realm is listed as down, rest assured that we’re aware of it and working diligently to bring it back online as quickly as possible.</p>
      </div>
    </div>
    <div class="articlecontent">
    <table class="customers text-center">
      <tr>
        <th>Status</th>
        <th>Realm</th>
        <th>Kind</th>
        <th>Population</th>
        <th>Expansion</th>
        <th>Domain</th>
      </tr>
      
      {% for row in realmlist %}
        <tr>
          <td>{{ row.status }}</td>
          <td>{{ row.name }}</td>
          <td>{{ row.icon }}</td>
          <td>{{ row.population }}</td>
          <td>{{ row.expansion }}</td>
          <td>{{ row.domain }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  </div>
{% endblock content %}