{% extends "layout.html" %}
{% block content %}
<div class="LRBG" style="background-image: url('static/img/content/login.jpeg');">
   <div class="overbg">
      <div class="frame">
         <p class="frame_title">Reset password</p>
         <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.code() }}
            {{ form.submit() }}
         </form>
         {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
            {% for category, message in messages %}
               <div class="{{ category }}">
                  {{ message }}
               </div>
            {% endfor %}
         {% endif %}
      {% endwith %}
      </div>
   </div>
</div>
{% endblock content %}