{% extends "layout.html" %}
{% block content %}
<div class="LRBG" style="background-image: url('static/img/content/login.jpeg');">
   <div class="overbg">
      <form class="frame" action="" method="post">
         <p class="frame_title">CREATE AN ACCOUNT</p>
         {{ form.hidden_tag() }}
         {{ form.firstname() }}
         {{ form.lastname() }}
         {{ form.email() }}
         {{ form.phonenumber() }}
         {{ form.username() }}
         {{ form.password() }}
         {{ form.repassword() }}
         <div class="captchacodeframe">
            {{ form.code() }}
            <img src="/static/captcha/{{session.registerip}}.png">
            {{ form.reloadcode() }}
         </div>
         {{ form.register() }}
         <a class="link" href="/login">If you have account!</a>
         {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
               {% for category, message in messages %}
                  <div class="{{ category }}">
                     {{ message }}
                  </div>
               {% endfor %}
            {% endif %}
         {% endwith %}
      </form>
   </div>
</div>
{% endblock content %}