{% extends "layout.html" %} {% block content %}
<div class="article-container">
  <div class="article-bg" style="background-image: url('/static/img/content/{{ article['image'] }}.jpg');">
    <div class="over-article text-center">
      <h1 class="effect-title">{{ article['title'] }}</h1>
      <br/>
      <div class="tag glass-blur r-border margin-mid">this post published by {{ article['by'] }} in {{ article['newsdate'] }}</div>
    </div>
  </div>
  <div class="article-content no-overflow">
    {{ article['article'] | safe }}
  </div>
</div>
{% endblock content %}