{% extends "layout.html" %} {% block content %}
<body>
  <div class="container">
    <div class="item_detail">
      <div class="idleft">
        <div class="imagefilter">
          <img src="/static/img/store/{{ storeitems[session['getitemid']]['image'] }}.jpg"/>
        </div>
        <div class="selchar">
          <img src="/static/img/coinc.png"><a>{{ storeitems[session["getitemid"]]['token'] }}</a><br />
          <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.select() }}
            <br />
            {{ form.submit() }}
          </form>
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        </div>
      </div>
      <div class="idright">
        <div class="page-content h-100">
          <div class="tabbed">
            <input type="radio" id="tab1" name="css-tabs" checked />
            <ul class="tabs">
              <li class="tab"><label for="tab1">توضیحات</label></li>
            </ul>
            <div class="tab-content">
              <a>{{ storeitems[session["getitemid"]]['title'] }}</a>
              <p>{{ storeitems[session["getitemid"]]['detail'] }}</p>
              <div class="attention">
                <a>توجه</a>
                <li>هیرو باید لول 80 باشد</li>
                <li>
                  بعد از خرید میتوانید از صندوق نامه در بازی آیتم را دریافت
                  نمایید.
                </li>
                <li>
                  در صورت پیدا نکردن آیتم، در بازی مشکل را تیکت کرده تا مورد
                  بررسی قرار گیرد
                </li>
                {% if session['version'] == "همه" %}
                  <li>برای تمامی نسخه ها قابل اسفاده می باشد</li>
                {% endif %}
                {% if session['version'] != "همه" %}
                  <li>فقط برای نسخه {{ session['version'] }} قابل استفاده می باشد</li>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock content %}
