{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="content">
        <div class="showgold">
            <div class="showgoldleft">
                <div class="showgoldtitle"><a>{{ inmailvalue }}</a><p>برای فروش</p></div>
                <div class="playergold">
                    <table class="customers">
                        <tr>
                            <th>گلد</th>
                            <th>کاراکتر</th>
                        </tr>
                        {% if mail|length > 0 %}
                            {% for item in mail  %}
                                <tr>
                                    <td>{{ item.money }}</td>
                                    <td> {{ item.sender }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}

                        {% if mail|length == 0 %}
                            <td>-</td>
                            <td>-</td>
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="showgoldright"><div class="showgoldtitle"></div></div>
        </div>
    </div>
</div>
{% endblock content %}